<ion-content fullscreen class="background">
  <ion-section class="firstSection ion-padding">
      <ion-slides>
        <ion-slide>
          <div class="slide">
            <h2>Your Pooja Samagri <br>shopping <br>delivered to your <br>home <ion-icon name="home"></ion-icon></h2>
            <p>
              There's something for everyone <br>to enjoy with Sweet shop <br>Favourites
            </p>
          </div>
        </ion-slide>
<!-- 
        <ion-slide>
          <h2>What is Ionic?</h2>
          <p>
            <b>Ionic Framework</b> is an open source SDK that enables developers to build high quality mobile apps
            with web technologies like HTML, CSS, and JavaScript.
          </p>
        </ion-slide>

        <ion-slide>
          <h2>What is Appflow?</h2>
          <p>
            <b>Appflow</b> is a powerful set of services and features built on top of Ionic Framework that brings a
            totally new level of app development agility to mobile dev teams.
          </p>
        </ion-slide> -->
      </ion-slides>
  </ion-section>
  <ion-section class="secondSection">
    <ion-button class="proceedButton" expand="block" routerLink="/login">Get Started &nbsp; &nbsp;<ion-icon name="arrow-forward-circle-outline"></ion-icon></ion-button>
  </ion-section>
</ion-content>
