<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     <div class="title">Hey, Rajat</div>
     <!-- <div class="action"><ion-icon name="bag-handle-outline"></ion-icon></div> -->
    </ion-title>
    <ion-searchbar placeholder="Search item"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
