ion-header{
    --background: #efb64a;
    height: 28%;
    ion-toolbar{
        --background: #efb64a;
        height: 100%;
        padding: 1rem;
        ion-title{
            margin-top: 2rem;
            margin-bottom: 1rem;
            .title{
                color: white;
                font-size: 1.3rem;
            
            }
            .action{
                color: white;
                font-size: 1.5rem;
            }
        }
    }
}
ion-searchbar{
    --border-radius: 1.2rem;
    --background: #ef9003;
    --box-shadow:none;
    --placeholder-font-weight:600;
    --placeholder-opacity:0.2;

    padding: 0;
    margin-bottom: 2rem;

}

ion-content{
    --background: #d7d7d7;
}

