<ion-content>
  <div class="login-section ion-padding">
    <div class="heading ion-paadding">
      <h1>Create an account!</h1>
      <p>Start your shopping with us</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="person"></ion-icon>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="mail"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="call"></ion-icon>
        <ion-item>
          <ion-label position="floating">MOBILE NUMBER</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" routerLink="/tabs/home">Sign Up</ion-button>
    </div>
  </div>
</ion-content>
